/* Анімація заголовок */
@keyframes my-animation {
  0% {
      transform: translateY(-1220%)
  }
  50% {
      transform: translateY(8rem)
  }
  80% {
      transform: translateY(-4rem)
  }
  100% {
      transform: translateY(0rem)
  }
}


/* Анімація хмаринки */
@keyframes cloud-animation {
  0% {
    transform: translateX(-20%)scale(1.2)
  }

  100% {
    transform: translateX(15%)scale(1)
  }
}

/* Анімація прогес */
@keyframes progress-animation {
  0% {
    transform: translateY(0)scale(1);
    opacity: 1;
  }

  100% {
    transform: translateY(-6rem)scale(1.3);
    opacity: 0;
  }
}

/* Анімація фігур */
@keyframes figure-animation {
  0% {
    transform: translateY(0)scale(1);
    opacity: 1;
  }

  100% {
    transform: translateY(-8rem)scale(1.3);
    opacity: 0;
  }
}