/* Стилі повідомлення "Пауза" та "Кінець гри". */
.message{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.message h2{
  font-family: var(--font-Handjet);
  font-size: 5rem;
  font-weight:400;
  text-align: center;
}
.message_progress-wrapp{
font-family: var(--font-roboto);
}
.message_progress{
  display: flex;
  align-items:end;
  gap: .5rem;
  padding: .5rem 1rem;
}
.message_max-progress{
  font-size: 2rem;
}
.message_max-progress_date{
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.message_naw-progress{
  font-size: 2rem;
}
.message_img{
  display: block;
  width: 50%;
  border-radius: 2rem;
  margin: 0 auto 2rem auto;
}
