@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;400;500;600;700;800;900&display=swap');


@import url('./animation.css');
@import url('./figure-style.css');
@import url('./title-style.css');
@import url('./start-section-style.css');
@import url('./message-style.css');


/* Змінні */
:root{
  --font-Handjet: 'Handjet', sans-serif;
  --font-Kalam: 'Kalam', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-style-normal: normal;
  --font-style-Italic:  Italic;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  font-size: 10px;
}
a{
  text-decoration: none;
  display: inline-block;
  font-style: normal;
}
/* Прихований заголовок */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------- Вся сторінка -------------- */
.main_page{
  max-width: 160rem;
  min-height: 100vh;
  margin: 0 auto;
  font-family: var(--font-Handjet);
  font-size: 2rem;
  letter-spacing:1px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6)), url('../image/background-start.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(253, 253, 253);
  user-select: none;
}

/* ---------- Вся сторінка Режим гри. -------------- */
.main_page.__game{
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3)), url('../image/background-game.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* ---------- Header -------------- */
.header_wrap{
  padding: 2% 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-family: var(--font-Kalam);
  font-style: italic;
  font-size: 5rem;
  font-weight: 600;
  text-shadow: 1.2rem 1.2rem 1rem rgba(116, 115, 115, .6); 
}
.logo_yllow{
  display: inline-block;
  color: yellow;
    -webkit-animation: my-animation 2s;
  animation: my-animation 2s;
}
.logo_blue{
  display: inline-block;
  color: rgb(32, 103, 255);
   -webkit-animation: my-animation 2.3s;
  animation: my-animation 2.3s;
}


/* ---------- Main -------------- */
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ---------- Секція гри.  -------------- */
.game{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
/* ---------- Салют перемоги.  -------------- */
.win-img{
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
/* ---------- Вхідний блок гри.  -------------- */
.root{
  position: relative;
  margin-top: 2rem;
}

/* ---------- Бічна панель керування та інформації. -------------- */
.control-panel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-Handjet);
  padding-top: 2rem;
}

/* Кнопка панелі налаштувань в мобільній версії. */
.settings-btn{
  position: fixed;
  top: 2%;
  right: 2%;
  padding: .4rem 1.5rem;
  align-items: center;
  background: rgb(215, 116, 77);
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.532),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
  border-radius: .4rem;
  cursor: pointer;
  opacity: .7;
  transition: all .3s;
  display: none;
}
.settings-btn:hover{
  opacity: 1;
}

.settings-btn_img{
  display: block;
  width: 100%;
  width: 3rem;
}
/* ---------- Панель вибору сладості гри. -------------- */
.panel_level{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
.btn-level{
  font-family: var(--font-Handjet);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing:1px;
  padding: .5rem 1rem;
  background: rgba(0, 0, 0, 0.514);
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.532),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
  border-radius: .5rem;
  opacity: .7;
  transition: all .3s;
}

/* ---------- Панель вибору гучності. -------------- */
.panel_volume{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.volume{
  font-family: var(--font-roboto);
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items:center;
  justify-content: center;
  text-shadow: 1.2rem 1.2rem 1rem rgba(0, 0, 0, 0.6);  
  border-radius: .5rem;
  padding: .3rem .6rem;
  gap: .3rem;
}

.btn-volume{
  width: 3rem;
  height: 3rem;
  padding: .65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(19, 5, 219, 0.671);
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.532),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
  cursor: pointer;
  border-radius: 50%;
  opacity: .7;
  transition: all .3s;
}

.btn-volume:disabled{
  background: rgba(221, 136, 9, 0.514);
  opacity: .6;
  cursor: default;
}

.btn-volume-img{
  display: block;
  width: 100%;
}

.volume-img{
  display: block;
  width: 2.2rem;
}

.btn-volume:not([disabled]):hover {
  opacity: 1;
}

/* ---------- Панель початок гри. -------------- */
.panel_start{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn-restart,
.btn-start{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
  background: rgba(0, 0, 0, 0.514);
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.532),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
  cursor: pointer;
  border-radius: .5rem;
  opacity: .6;
  transition: all .3s;
  z-index: 3;
}

.btn-start{
  background: rgb(52, 230, 17);
}
.btn-start.active {
  background: rgb(215, 116, 77);
}

.btn-start-img{
  display: inline-block;
  width: 3rem;
}
.btn-level.check{
  background: rgb(52, 230, 17);
  opacity: 1;
}
.btn-restart:hover,
.btn-level:hover,
.btn-start:hover{
  opacity: 1;
}

.btn-restart.active {
  background: rgb(52, 230, 17);
  opacity: 1;
}

/* ---------- Панель керування фігурою. -------------- */
.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.btns-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn{
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(52, 230, 17);
  cursor: pointer;
  border-radius: 50%;
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.532),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
  opacity: .7;
  transition: all .3s;
}


.btn:hover{
  opacity: 1;
}

.btn-rotate { 
  width: 8rem;
  height: 8rem;
  font-size: 3rem;
}

.btn-down { 
  margin-top: 2rem;
}
.btn-drop{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-btn-left,
.img-btn-down,
.img-btn-right,
.img-btn-drop{
  display: block;
  width: 2.2rem;
}
.img-btn-down{
  transform: rotate(-90deg);
}
.img-btn-right{
  transform: rotate(180deg);
}

.img-btn-rotate{
  display: block;
  width: 3rem;
}
/* ---------- Кнопка на головну. -------------- */
.btn-home{
  position: fixed;
  font-family: var(--font-Handjet);
  letter-spacing:1px;
  top: 2%;
  left: 2%;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  background: rgb(215, 116, 77);
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
    inset -.3rem -.3rem .3rem rgba(88, 32, 4, 0.532),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
  border-radius: .4rem;
  padding: .5rem 1rem;
  opacity: .7;
  transition: all .3s;
  z-index: 3;
}
.img-btn-home{
  display: inline-block;
  width: 3rem;
}
.btn-home:hover{
opacity: 1;
transform: translateX(-.5rem);
}

/* ---------- Хмаринка. -------------- */
.cloud-img{
  display: block;
  position: absolute;
  top: -14rem;
  width: 100%;
  opacity: .6;
  z-index: 1;
  animation: 25s linear 1s infinite alternate cloud-animation;
}

/* ---------- Верхня панель рейтинг. -------------- */
.panel_progress-wrapp{
  display: flex;
  font-family: var(--font-roboto);
  align-items:center;
  gap: 2rem;
  position: absolute;
  z-index: 2;
  top: -3rem;
  left: 1rem;
  color: rgb(1, 65, 185);
  text-shadow: 1.2rem 1.2rem 2.4rem rgba(8, 8, 8, 0.6);
  font-weight: 600;
  font-size: 2.2rem;
}

.panel_progress{
  display: flex;
  align-items:center;
  gap: .3rem;
  position: relative;
}
.progress_img{
  display: inline-block;
  width: 2.5rem;
}

/* Анімація прогес */
.progress-animate{
  position: absolute;
  top: 0;
  left: 3rem;
  display: block;
  color: rgb(38, 158, 14);
  opacity: 0;
 -webkit-animation: progress-animation 2s;
  animation: progress-animation 2s;
}

.next-figure__wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5rem;
  right: 3rem;
  z-index: 2;
}

.field-next-fig{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
}
.field-next-fig div{
  height: min(2vh, 5vw);
  width: min(2vh, 5vw);
  border-radius: 0.3vh;
}

/* ---------- Ігрове поле. -------------- */
.playing-field{
  display: grid;
  background: rgba(21, 121, 179, 0.2);
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(20, auto);
  border-radius: 1rem;
  box-shadow:
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

/* ---------- Підвал. -------------- */
.footer{
  background: rgba(0, 0, 0, 0.301);
}
.footer-wrap{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin: 0 auto;
  padding: 1rem 0;
}
.footer_mail{
  font-size: 1.8rem;
  line-height: 1.3;
  color: rgb(253, 253, 253);
  opacity: .8;
  transition: all .3s;
}
.footer_mail:hover,
.footer_mail:focus{
  color: rgb(52, 137, 248);
  opacity: 1;
}
.footer_date{
  font-size: 1.6rem;
  line-height: 1.3;
}

/* ------- Режим гри. ---------*/
.main_page.__hiden .game{
  display: none;
}
.main_page.__game .header_wrap,
.main_page.__game .start-section,
.main_page.__game .footer-wrap{
  display: none;
}

/* ------- Медіа запити. ---------*/

@media (max-width: 820px) {
  .settings-btn{
    display: flex;
  }
  /* Панель налаштувань в мобільній версії. */
  .control-panel_wrap{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.55);
    padding: 10rem 5rem;
    border-radius: .8rem;
    transform: translateX(50rem);
    transition: all 1s;
    z-index: 4;
  }
  .control-panel_wrap.__show{
    transform: translateX(0);
  }

  .panel_level{
    flex-direction: column;
    margin-bottom: 4rem;
  }
  .btn-level{
    width: 100%;
  }
  .panel_start{
    flex-direction: column;
  }
  .btn{
    opacity: .5;
  }
  .btn-left{
    position: fixed;
    width: 5.5rem;
    height: 5.5rem;
    right: 60%;
    bottom: 8%;
  }
  .btn-down{
    position: fixed;
    right: 45%;
    bottom: 2%;
  }

  .btn-rotate{
    position: fixed;
    width: 6.5rem;
    height: 6.5rem;
    right: 2%;
    bottom: 12%;
  }

  .btn-right{
    position: fixed;
    width: 5.5rem;
    height: 5.5rem;
    right: 30%;
    bottom: 8%;
  }
  .btn-drop{
    position: fixed;
    right: 8%;
    bottom: 2%;
  }
}
